@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
-webkit-scrollbar { display: none; }

body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(234, 230, 230, 0.707);
    color: rgb(32, 54, 150);
    font-family: 'Comfortaa', cursive;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top:30px;
}


.navigation li{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.navigation .nav-pages ul,.navigation .nav-pages ul a{
    text-decoration: none;
    padding: 10px;
    color: rgb(112, 112, 112);

}

.navigation .nav-pages ul,.navigation .nav-pages ul a:hover{
    color: rgb(32, 54, 150);
}


.logo{
    border-radius: 50%;
    padding: 20px 15px;
    background-color: rgb(145, 145, 202);
    color: white;
}

.section1{
    display: grid;
    place-items: left;

}
.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.product-card{
    margin: 0 20px 40px 0;
    width: 100%;
}

.product-card .img-bg{
    border-radius: 45px 30px;
}
.product-card .img-bg span{
    border-radius: 13px;
    padding: 13px 15px;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.product-card .img-bg span:hover{
    cursor: pointer;
}
.product-card .img-bg img{
    width: 100%;
    height: 100%;
    height: 200px;

}
.product-card .product-info .product-name{
    color: rgb(140, 140, 140);
    font-size: 20px;
    margin-top: 20px;
    

}
.product-card .product-info .price{
    color: rgb(119, 94, 181);
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
}
.product-card .product-info .details{
    color: rgb(119, 94, 181);
    text-decoration: none;
}

.product-card .product-info .details:hover{
    cursor: pointer;
    color: rgb(112, 112, 112);
}

.n1{
    background-color: rgb(214, 57, 57);
}
.n2{
    background-color: rgb(57, 214, 193);
}
.n3{
    background-color: rgb(39, 62, 163);
}
.n4{
    background-color: rgb(45, 45, 111);
}
.n5{
    background-color: rgb(50, 171, 121);
}

::-webkit-scrollbar{
    display: none;
}


@media only screen and (max-width: 679px) {
    .product-container{
        display: flex;
        flex-direction: column;
    }
    .navigation .nav-icons ul a{
        display: none;
    }
    .navigation .nav-pages ul{
        padding: 5px;
    }
    .navigation .nav-pages li ul a{
        flex-wrap: wrap;
    }


    body{
        font-size: 10px;
    }

}

.filter{
    text-align: left;
    margin-left: 5rem;
    margin-top: 10rem;
    border-bottom: 2px solid rgb(91, 34, 156);
    max-width: 1.8rem;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: rgb(32, 54, 150);
}

footer{
    background-color: rgb(119, 94, 181);
    margin-top: 8rem;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

footer .social-media{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer a{
    border-radius: 50%;
    padding: 8px 10px;
    background-color: white;
    color: black;
}